@charset "utf-8";

#form_login {
    background-color: white;
    width: 40%;
    margin-top: 80px;
}

#btn_login {
    background-color: lightcoral;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border: 2px solid lightcoral;
    margin: 10px;
    width: 40%;
    position: center;
}

#btn_login:hover {
    background-color: white;
}

#acc_div {
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}