@charset "utf-8";

#reg {
	background-image: url('./images/background.jpg');
	width: 100%;
	position: absolute;
	bottom: 0px;
	margin-top: 0px;
	height: 90%;
}

#title {
	font-size: xx-large;
	font-family: 'Times New Roman', Times, serif;
	font-weight: bolder;
}

#form {
	background-color: white;
	width: 50%;
}

#btn {
	font-size: 20px;
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
	border: 2px solid yellow;

}

#btn:hover {
	background-color: white;
}

#nav {
	margin-bottom: 0px;
}
