@charset "utf-8";


#restaurant_view {
    background-color: white;
 	border-radius: 25px;  
	width: 50%;
	text-align: center;
}

#restaurant_info{
    background-color: white;
 	border-radius: 25px;  
	width: 100%;
	text-align: center;
}

.restaurant_name{
	font-size: 22px;
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
}

.restaurant_data{
	font-size: 18px;
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
	color: silver;
}

#restaurant_logo{
	width: 160px;
    height: 160px;
 	border-radius: 35px;  
}

.btn_manager{
	width: 180px;	
	border-radius: 25px;  
	 background-color: rgb(255, 128, 128);
}