@charset "utf-8";

#restaurant_view {
    background-color: white;
 	border-radius: 25px;  
	width: 50%;
	text-align: center;
}

#restaurant_info{
    background-color: white;
 	border-radius: 25px;  
	width: 100%;
	text-align: center;
}

#restaurant_items{
    background-color: white;
 	border-radius: 25px; 
	text-align: center; 
}

#cart_view{
    background-color: white;
 	border-radius: 25px;  
	width: 50%;
	text-align: center;
}

.restaurant_name{
	text-align: center;
	font-size: 22px;
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
}
#item_content{
	text-align: center;
}

#cart_quantity{
	font-size: 22px;
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
}

#cart_total{
	font-size: 28px;
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
	color: black;
}

.restaurant_modal_item{
	font-size: 18px;
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
}

.restaurant_data{
	font-size: 18px;
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
	color: silver;
}

#restaurant_logo{
	width: 160px;
    height: 160px;
 	border-radius: 35px;  
}

#item_logo{
	width: 160px;
    height: 160px;
 	border-radius: 35px;  
}


.btn_manager{
	width: 180px;	
	border-radius: 25px;  
	background-color: rgb(255, 128, 128);
}

#btn_cancel{
	width: 40px;	
	border-radius: 25px;  
	background-color: rgb(255, 128, 128);
}

.btn_filtrate{
	background-color: lightcoral;
	font-size: 12px;
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
	border: 2px solid lightcoral;
	width: 300px;
}

.btn_search_res{
	background-color: lightcoral;
	font-size: 12px;
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
	border: 2px solid lightcoral;
}

.btn_sort{
	background-color: lightcoral;
	font-size: 12px;
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
	border: 2px solid lightcoral;
	width: 200px;
}

.btn_modal{
	background-color: lightcoral;
	font-size: 12px;
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
	border: 2px solid lightcoral;
	width: 150px;
}

.modal {
	background: none;
    display: block;
  	left: 0;
    position: fixed;
    right: 0;
    top: 0;
    bottom:0;
z-index: 40;
   
}

#btn_order {
	background-color: lightcoral;
	font-size: 24px;
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
	border: 2px solid lightcoral;
	text-align: center;
}
