@charset "utf-8";

#table_id {
	background-color: white;
	width: 50%;
	text-align: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.td_class {
  text-align: center;
}

.btn_search{
	background-color: lightcoral;
	font-size: 12px;
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
	border: 2px solid lightcoral;
	width: 140px;
}

#search_id {
	background-color: white;
	width: 50%;
	
}

.btn_delete{
	background-color: lightcoral;
	font-size: 12px;
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
	border: 2px solid lightcoral;
	width: 90px;
}